{% set mini = {
    0 : {
        name        : 'lalulu',
        label       : 'La Lulu',
        pictures    : 4
    }
}
%}

{% extends 'default/nos_bus.html.twig' %}
{% block head_message %}
    <p>
        {% trans %}
            « Des mini bus disco de la gamme de <a href="https://www.puddy-b.com">Puddy-B</a>.<br>
            Une innovation de bus discotheque Paris, des <a href="https://www.puddy-b.com">mini bus karaoké</a> pour des groupes restreints jusqu’à 9 invités avec tout le confort nécessaire, bar, toilettes, écrans plats, réfrigérateur et le tout pour un prix mini à partir de 290 €uros.
        {% endtrans %}
    </p>
{% endblock %}
{% block bus_row %}
    {% for bus in mini %}
        <div class="col-lg-3 col-md-3 col-sm-4">
            <div class="single_product {% if selected == bus.name %}selected{% endif %}">
                <div class="product_thumb">
                    <img class="primary_img" data-toggle="modal" data-target="#modal-bus" data-placement="top" data-original-title="{% trans %}Voir les Options à Bord{% endtrans %}" src="{{ asset('build/images/bus/mini/' ~ bus.name ~ '/prod1.jpg') }}" alt="{% trans %}photo du bus{% endtrans %}" {{ bus.label }}"/>
                    <img class="secondary_img" data-toggle="modal" data-target="#modal-bus" data-placement="top" data-original-title="{% trans %}Voir les Options à Bord{% endtrans %}" src="{{ asset('build/images/bus/mini/' ~ bus.name ~ '/prod2.jpg') }}" alt="{% trans %}photo du bus{% endtrans %}" {{ bus.label }}"/>
                    <div class="quick_button">
                        <span data-toggle="modal" data-target="#modal-bus" data-placement="top" data-original-title="{% trans %}Voir les Options à Bord{% endtrans %}">{% trans %}Découvrir{% endtrans %}</span>
                    </div>
                </div>
                <div class="product_content">
                    <div class="tag_cate">
                        <span class="shine" data-toggle="modal" data-target="#modal-bus" data-placement="top" data-original-title="{% trans %}Voir les Options à Bord{% endtrans %}">{% trans %}Espace optimisé{% endtrans %}</span>
                    </div>
                    <h3 class="shine bus_name" data-toggle="modal" data-target="#modal-bus" data-placement="top" data-original-title="{% trans %}Voir les Options à Bord{% endtrans %}">{{ bus.label }}</h3>
                    <div class="bottom_box">
                        <span class="capacity">{% trans %}jusqu'à <span class="highlight">9 pers.</span>{% endtrans %}</span>
                    </div>
                    <div class="product_hover">
                        <div class="product_ratings">
                            <ul>
                                <li><i class="ion-ios-star"></i></li>
                                <li><i class="ion-ios-star"></i></li>
                                <li><i class="ion-ios-star"></i></li>
                                <li><i class="ion-ios-star"></i></li>
                                <li><i class="ion-ios-star-outline"></i></li>
                            </ul>
                        </div>
                        <div class="product_desc">
                            <p>
                                <span class="bus-length">{% trans %}Minibus de 7m{% endtrans %}</span>
                            </p>
                        </div>
                        <div class="action_links">
                            <ul>
                                <li class="add_to_cart"><a href="{{ path('tarifs')}}" title="{% trans %}Tarif minibus discothèque à Paris{% endtrans %}">{% trans %}Tarifs{% endtrans %}</a></li>
                                <li class="add_to_cart"><a href="{{ path('reservation') }}" title="{% trans %}Réserver minibus discothèque à Paris{% endtrans %}">{% trans %}Réserver{% endtrans %}</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="image_stock">
                        <div class="thumbs">
                            {% for i in 1..bus.pictures %}
                                <img src="{{ asset('build/images/bus/mini/' ~ bus.name ~ '/prod' ~ i ~ '.jpg') }}" alt="{{ bus.name }}"/>
                            {% endfor %}
                        </div>
                        <div class="pictures">
                            {% for i in 1..bus.pictures %}
                                <img src="{{ asset('build/images/bus/mini/' ~ bus.name ~ '/prod' ~ i ~ '-1.jpg') }}" alt="{{ bus.name }}"/>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}