{% extends 'base.html.twig' %}
{% block body %}
    <div id="head_title">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="content">
                        <h3>Information Spéciale COVID-19</h3>
                        <ul>
                            <li><a href="{{ path('index') }}">“Ne vous faites pas avoir”</a></li>
                            <li>•</li>
                            <li>2e communiqué</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="about_section">
        <div class="container">
            <div class="row align-items-center product_section p_section1 product_black_section">
                <div class="col-12 product_area">
                    <div class="product_tab_button">
                        <ul class="nav" role="tablist">
                            <li><a href="{{ path("index") }}">Accueil</a></li>
                            <li><a class="active" href="{{ path("communique") }}">Communiqué</a></li>
                            <li><a href="{{ path("news") }}">Nouveautés</a></li>
                        </ul>
                    </div>
                    <div class="about_content">
                        <span>Information Spéciale <strong>COVID-19</strong> “Ne vous faites pas avoir” / 2e communiqué</span>
                        <u><a href="{{ asset('build/images/docs/N1.png') }}" target="_blank"></a></u>
                        <br><br>
                        <p>
                            Chers clients, chères clientes,<br> <br> En date du 28 septembre 2020, nous avons publié
                            <a href="{{ asset('build/images/docs/N0.jpg') }}" target="_blank" rel="noopener">un communiqué</a> faisant suite aux nouvelles mesures de restrictions publiées le
                            <a href="https://www.prefecturedepolice.interieur.gouv.fr/Nous-connaitre/Documentation/Arretes/Liste-des-arretes" target="_blank" rel="noopener">25 septembre 2020 par la préfecture de police de paris</a><br><br>
                            À travers <a href="{{ asset('build/images/docs/N0.jpg') }}" target="_blank" rel="noopener">ce communiqué</a> nous avons très clairement fait part de l’interdiction de maintenir nos prestations jusqu’au 11 octobre 2020 établie par la Préfecture de Police de Paris et dans
                            <a href="{{ asset('build/images/docs/N0.jpg') }}" target="_blank" rel="noopener">ce même communiqué</a> nous avons dénoncé
                            <a href="{{ asset('build/images/docs/N2.png') }}" target="_blank" rel="noopener">l’attitude irresponsable de la société Partybus qui publiait un message indiquant totalement l’inverse alors que Paris était déjà en Zone d’Alerte Renforcée.</a><br><br>
                            À la lecture de notre communiqué précédent, <strong>Party bus</strong> change son fusil d’épaule et
                            <a href="{{ asset('build/images/docs/N6.png') }}" target="_blank" rel="noopener">affiche dès lors les mêmes informations que nous</a>, ce qui tend à prouver que sans notre communiqué dénonciateur, ils auraient continué à tromper les clients, vous.<br><br>
                            <a href="{{ asset('build/images/docs/N7.png') }}" target="_blank" rel="noopener">Ils font également état de diverses procédures d'assignation</a> au tribunal en considérant nos agissements comme déloyaux et dénigrants sans avoir le courage de nous nommer clairement et se posent dès lors comme victime. À ce jour (le 29/09/2020), il n’existe aucune procédure à notre encontre et nous n'en avons aucune crainte, tant l’ensemble de nos écris se basent sur des faits exacts, avérés, justifiés et vérifiables par tous. Nous en rapportons ici les 1ères preuves par diverses captures d'écran.<br><br>
                            Comme à notre habitude et une fois de plus aujourd'hui, nous allons demeurer totalement transparent afin que tous aient connaissance de cette situation que nous déplorons, mais&nbsp;c'est indispensable à nos yeux. Si le courage ne fait point parti de leur valeur, nous assumons totalement le nôtre.<br><br>
                            Nous avons décidé de dénoncer systématiquement tous les agissements de la société <strong>Party bus</strong> qui durent depuis des années ainsi que tous les autres qui utilisent, usent, usurpent, s'appuient et communiquent sans cesse, et sans gêne sur notre marque et sa notoriété afin de détourner la clientèle de ce type de prestation.<br><br>
                            <strong>Party bus et soirée bus</strong>, c’est la même société. Elle est celle qui utilise le plus ce détournement de clients en s’appuyant sur un jeu de mots avec bus et discothèque.
                        </p>
                        <p>
                            Leurs publicités, leur référencement, leur communication, tout, absolument tout est basé sur l’usurpation de notre marque bus discothèque afin d'attraper les clients les moins vigilants.
                        </p>
                        <p>
                            Pour exemple :
                            <a href="{{ asset('build/images/docs/N3.png') }}" target="_blank" rel="noopener">les annonces publicitaires sur Google</a> (dit Adwords),
                            <a href="{{ asset('build/images/docs/N4.png') }}" target="_blank" rel="noopener"> les liens de référencement naturel</a>,
                            les balises "meta tag" (invisible pour une visiteur lambda mais par les moteurs de recherche), tout, absolument tout, les moyens sont mis en œuvre par ces derniers pour détourner la clientèle.
                        </p>
                        <p>
                            Au-delà de cela, sans courage, ils tiennent au téléphone des propos mensongers à l’égard de notre compagnie indiquant que nos services, nos bus et nos prestataires sont de bien moindre qualité que les leurs afin de tenter de justifier leurs prix exorbitants. <br>Dès lors, les agissements les plus déloyaux proviennent de <strong>Party bus</strong>.
                        </p>
                        <p>
                            Bus discothèque défend tous les consommateurs et par la même occasion ses propres intérêts. Il n’y a rien de déloyal dans nos agissements, nous parlons même d'eux sur la page d'accueil de notre site internet. Nous faisons simplement et très clairement état de la réalité des faits.
                        </p>
                        <p>
                            Nous maintenons et confirmons l’ensemble de nos écrits&nbsp;:
                        </p>
                        <p>
                            - Oui, <strong>Party bus</strong> trompe les clients en date du 28 septembre 2020 en indiquant que leur activité est légale malgré les nouvelles restrictions sanitaires pour les Zone d’Alerte Renforcée.
                            <a href="{{ asset('build/images/docs/N2.png') }}" target="_blank" rel="noopener">(Capture écran N°2)</a><br>
                            - Oui, <strong>Party bus</strong> usurpe notre marque bus discothèque. <a href="{{ asset('build/images/docs/N5.png') }}" target="_blank" rel="noopener">(Capture N°5) </a><br>
                            - Oui, <strong>Party bus</strong> communique sur notre marque bus discothèque. <a href="{{ asset('build/images/docs/N3.png') }}" target="_blank" rel="noopener">(Capture N°3)</a><br>
                            - Oui, <strong>Party bus</strong> ne fait <a href="{{ asset('build/images/docs/N3.png') }}" target="_blank" rel="noopener">sa publicité</a> que sur notre marque et ses noms dérivés.<br>
                            - Oui, <strong>Party bus</strong> est jusqu’à 96 % plus cher (<a href="/?p=concurrence_comparatif" target="_blank" rel="noopener">comparez vous-même ici</a>) de manière totalement injustifié et avec moins de services inclus.<br>
                            - Oui, <strong>Party bus</strong> facture des services que bus discothèque offre à ses clients (Exemple&nbsp;: TV, afficheur, tapis rouge etc..)<br>
                            - Oui, les avis positifs de <strong>Party bus</strong> sur internet sont postés par leur amis (voir <a href="{{ asset('build/images/docs/devis/avis-reman.pdf') }}" target="_blank" rel="noopener">avis Reman sur Google</a> et <a href="{{ asset('build/images/docs/devis/avis-iteb.pdf') }}" target="_blank" rel="noopener">Avis Iteb sur avis verifié</a>) pour ne citer que ces deux là.<br>
                            - Oui, <strong>Party bus</strong> poste des faux-avis négatifs nous concernant (Capture <a href="{{ asset('build/images/docs/N8.png') }}" target="_blank">N8</a> et <a href="{{ asset('build/images/docs/N8b.png') }}" target="_blank">N8bis</a>)<br>
                            - Oui, <strong>Party bus</strong> est une simple structure de deux personnes, le mari et la femme, loin des grandes compagnies évènementiel mais ils s’attachent à vous faire croire l’inverse.<br>
                            - Oui, <strong>Party bus</strong> possède un bus de 20 personnes vendu pour 30 personnes.<br>
                            - Oui, <strong>Party bus</strong> ne possède qu’un seul bus et non plusieurs (demandez leur de vous présenter tous les autres bus qu’ils sont censés posséder)<br>
                            - Oui, les prestataires de <strong>Party bus</strong> ont cessé leur collaboration faute d’avoir été payé depuis janvier 2020, (prenez le cas du chauffeur, du Dj, de l’Agent d’accueil)<br>
                            - Oui, les prestataires de <strong>Party bus</strong> ont postulé chez bus discothèque (certains ont intégré notre équipe)<br>
                            - Oui, <strong>Party bus</strong> est géré par un chauffeur de bus (demander le CV de Morad et ses diplômes ^_^)<br>
                            A ce jour nous avons donc décidé de rendre <strong>coup pour coup</strong>, nous répondrons à chaque acte, chaque message, et ceci tant que <strong>Party bus et/ou Soirée bus ou quiconque</strong> continuera de communiquer sur notre marque bus discothèque, sa notoriété et ses dérivés, bus disco, disco bus etc..<br>
                            Nous allons cette année lancer de nouveaux concepts, de nouvelles marques, mettre en circulation de nouveaux véhicules pour vous proposer encore et toujours plus de services.<br><br>
                            Nous ne nous trompons pas en indiquant d’avance que <strong>Party bus</strong> va se faire référencer sur ces derniers pour encore et toujours détourner les clients.<br><br>
                            Il est plus facile de copier que de créer, <br>
                            il est plus facile de suivre que d’essayer d’avancer seul, <br>
                            il est bien moins couteux de ne rien faire que d’investir dans de nouveaux concepts, de nouveaux véhicules...<br><br>
                            Nous sommes une équipe de plus de 55 personnes, Party bus eux ne sont que 2,<br>
                            Nous avons à ce jour 11 véhicules et Partybus un seul,<br>
                            Nous allons porter le parc à 15 véhicules dans un mois et 20 véhicules très prochainement quand Partybus , vous proposera encore et toujours le même vieux véhicule en exploitation depuis 10 ans<br><br>
                            Morad, Linda,<br>
                            C’est votre incapacité à avancer seul qui vous pousse à nous copier sans cesse. Apprenez à tomber pour réussir à marcher, dès lors vous verrez, vous pourrez avancer sans vous appuyez sur personne et vous serez peut être ce jour-là touché par la fierté.<br><br>
                            Le courage, la fierté, l’abnégation contrairement à nous, c’est tout ce qui vous manque.<br>
                            La cupidité et l’avidité voilà ce guide vos pas, quand nous busdiscotheque.com sommes guidés par la créativité, la nouveauté, le désir d’avancer encore et toujours, de proposer encore et toujours plus pour les consommateurs.<br><br>
                            <span class="gold">Voilà pourquoi nous sommes à l'origine de ce concept.<br>
                                Voilà pourquoi nous sommes le seul, l'unique : Bus Discotheque.
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}