{% extends 'base.html.twig' %}
{% block body %}
    <div id="head_title">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="content">
                        <h3>{% trans %}Tarifs{% endtrans %}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="about_section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12">
                    <div class="about_content">
                        <span><strong>Busdiscotheque.com</strong> “{% trans %}le seul, l’unique, l’original.{% endtrans %}”</span>
                        <p>
                            {% trans %}Bus discotheque paris customise et suréquipe ses disco bus en de véritable espace festif pour vos anniversaires ou tout autres évènements. Les disco bus de bus discothèque paris peuvent sillonner de jour comme de nuit les plus belles artères de la ville de Paris.{% endtrans %}
                        </p>
                        <p>
                            {% trans %}Tarif&nbsp;TTC de nos prestations pour nos différents bus :{% endtrans %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-content-wrap compare-page">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <form action="#">
                        <!-- Compare Table -->
                        <div class="compare-table table-responsive">
                            <table class="tarifs table mb-0">
                                <tbody>
                                    <tr>
                                        <td class="first-column">
                                            {% trans %}Nos Bus{% endtrans %}
                                        </td>
                                        <td class="product-image-title text-center">
                                            <a href="{{ path("bus_mini") }}" class="image"><img src="{{ asset('build/images/mini-bus.png') }}" alt="Mini Bus"></a>
                                            <a href="{{ path("bus_mini") }}" class="title">{% trans %}Mini disco bus by{% endtrans%} <a href="https://www.puddy-b.com">puddy-b.com</a></a>
                                        </td>
                                        <td class="product-image-title text-center">
                                            <a href="{{ path("bus_simple") }}" class="image"><img src="{{ asset('build/images/simple-bus.png') }}" alt="Simple Bus"></a>
                                            <a href="{{ path("bus_simple") }}" class="title">{% trans %}Standard Bus disco{% endtrans %}</a>
                                        </td>
                                        <td class="product-image-title text-center">
                                            <a href="{{ path("bus_double") }}" class="image"><img src="{{ asset('build/images/double-bus.png') }}" alt="Double Bus"></a>
                                            <a href="{{ path("bus_double") }}" class="title">{% trans %}Double bus discotheque{% endtrans %}</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="first-column">
                                            {% trans %}Longueur{% endtrans %}
                                        </td>
                                        <td class="length"><span class="fa fa-arrows-h"></span> 7m</td>
                                        <td class="length"><span class="fa fa-arrows-h"></span> 12m</td>
                                        <td class="length"><span class="fa fa-arrows-h"></span> 18m</td>
                                    </tr>
                                    <tr>
                                        <td class="first-column">
                                            {% trans %}Passagers{% endtrans %}
                                        </td>
                                        <td class="capacity"><span class="icon icon-User"></span> x 9</td>
                                        <td class="capacity"><span class="icon icon-User"></span> x 30</td>
                                        <td class="capacity"><span class="icon icon-User"></span> x 65</td>
                                    </tr>
                                    <tr>
                                        <td class="first-column"><span class="fa fa-clock-o"></span> 1h</td>
                                        <td class="price addtocart">
                                            290 € <sup>{% trans %}TTC{% endtrans %}</sup>
                                            <a href="#" class="add-to-cart" data-toggle="modal" data-placement="top" data-price="290" data-hours="1" data-target="#modal-bus-mini" data-original-title="{% trans %}Qu'est-ce que cela inclus ?{% endtrans %}" tabindex="0">
                                                <span>{% trans %}NOTRE OFFRE À{% endtrans%} 290 € <sup>{% trans %}TTC{% endtrans %}</sup></span>
                                            </a>
                                        </td>
                                        <td class="price addtocart">
                                            890 € <sup>{% trans %}TTC{% endtrans %}</sup>
                                            <a href="#" class="add-to-cart" data-toggle="modal" data-placement="top" data-price="890" data-hours="1" data-target="#modal-bus-simple" data-original-title="{% trans %}Qu'est-ce que cela inclus ?{% endtrans %}" tabindex="0">
                                                <span>{% trans %}NOTRE OFFRE À{% endtrans%} 890 € <sup>{% trans %}TTC{% endtrans %}</sup></span>
                                            </a>
                                        </td>
                                        <td class="price addtocart">
                                            1090 € <sup>{% trans %}TTC{% endtrans %}</sup>
                                            <a href="#" class="add-to-cart" data-toggle="modal" data-placement="top" data-price="1090" data-hours="1" data-target="#modal-bus-double" data-original-title="{% trans %}Qu'est-ce que cela inclus ?{% endtrans %}" tabindex="0">
                                                <span>{% trans %}NOTRE OFFRE À{% endtrans%} 1090 € <sup>{% trans %}TTC{% endtrans %}</sup></span>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="first-column"><span class="fa fa-clock-o"></span> 2h</td>
                                        <td class="price addtocart">
                                            390 € <sup>{% trans %}TTC{% endtrans %}</sup>
                                            <a href="#" class="add-to-cart" data-toggle="modal" data-placement="top" data-price="390" data-hours="2" data-target="#modal-bus-mini" data-original-title="{% trans %}Qu'est-ce que cela inclus ?{% endtrans %}" tabindex="0">
                                                <span>{% trans %}NOTRE OFFRE À{% endtrans%} 390 € <sup>{% trans %}TTC{% endtrans %}</sup></span>
                                            </a>
                                        </td>
                                        <td class="price addtocart">
                                            990 € <sup>{% trans %}TTC{% endtrans %}</sup>
                                            <a href="#" class="add-to-cart" data-toggle="modal" data-placement="top" data-price="990" data-hours="2" data-target="#modal-bus-simple" data-original-title="{% trans %}Qu'est-ce que cela inclus ?{% endtrans %}" tabindex="0">
                                                <span>{% trans %}NOTRE OFFRE À{% endtrans%} 990 € <sup>{% trans %}TTC{% endtrans %}</sup></span>
                                            </a>
                                        </td>
                                        <td class="price addtocart">
                                            1190 € <sup>{% trans %}TTC{% endtrans %}</sup>
                                            <a href="#" class="add-to-cart" data-toggle="modal" data-placement="top" data-price="1190" data-hours="2" data-target="#modal-bus-double" data-original-title="{% trans %}Qu'est-ce que cela inclus ?{% endtrans %}" tabindex="0">
                                                <span>{% trans %}NOTRE OFFRE À{% endtrans%} 1190 € <sup>{% trans %}TTC{% endtrans %}</sup></span>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="first-column"><span class="fa fa-clock-o"></span> 3h</td>
                                        <td class="price addtocart" style="">
                                            490 € <sup>{% trans %}TTC{% endtrans %}</sup>
                                            <a href="#" class="add-to-cart" data-toggle="modal" data-placement="top" data-price="490" data-hours="3" data-target="#modal-bus-mini" data-original-title="{% trans %}Qu'est-ce que cela inclus ?{% endtrans %}" tabindex="0">
                                                <span>{% trans %}NOTRE OFFRE À{% endtrans%} 490 € <sup>{% trans %}TTC{% endtrans %}</sup></span>
                                            </a>
                                        </td>
                                        <td class="price addtocart">
                                            1090 € <sup>{% trans %}TTC{% endtrans %}</sup>
                                            <a href="#" class="add-to-cart" data-toggle="modal" data-placement="top" data-price="1090" data-hours="3" data-target="#modal-bus-simple" data-original-title="{% trans %}Qu'est-ce que cela inclus ?{% endtrans %}" tabindex="0">
                                                <span>{% trans %}NOTRE OFFRE À{% endtrans%} 1090 € <sup>{% trans %}TTC{% endtrans %}</sup></span>
                                            </a>
                                        </td>
                                        <td class="price addtocart">
                                            1290 € <sup>{% trans %}TTC{% endtrans %}</sup>
                                            <a href="#" class="add-to-cart" data-toggle="modal" data-placement="top" data-price="1290" data-hours="3" data-target="#modal-bus-double" data-original-title="{% trans %}Qu'est-ce que cela inclus ?{% endtrans %}" tabindex="0">
                                                <span>{% trans %}NOTRE OFFRE À{% endtrans%} 1290 € <sup>TTC</sup></span>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="first-column"><span class="fa fa-clock-o"></span> 4h</td>
                                        <td class="price addtocart">
                                            590 € <sup>{% trans %}TTC{% endtrans %}</sup>
                                            <a href="#" class="add-to-cart" data-toggle="modal" data-placement="top" data-price="590" data-hours="4" data-target="#modal-bus-mini" data-original-title="{% trans %}Qu'est-ce que cela inclus ?{% endtrans %}" tabindex="0">
                                                <span>{% trans %}NOTRE OFFRE À{% endtrans%} 590 € <sup>{% trans %}TTC{% endtrans %}</sup></span>
                                            </a>
                                        </td>
                                        <td class="price addtocart">
                                            1190 € <sup>{% trans %}TTC{% endtrans %}</sup>
                                            <a href="#" class="add-to-cart" data-toggle="modal" data-placement="top" data-price="1190" data-hours="4" data-target="#modal-bus-simple" data-original-title="{% trans %}Qu'est-ce que cela inclus ?{% endtrans %}" tabindex="0">
                                                <span>{% trans %}NOTRE OFFRE À{% endtrans%} 1190 € <sup>{% trans %}TTC{% endtrans %}</sup></span>
                                            </a>
                                        </td>
                                        <td class="price addtocart">
                                            1390 € <sup>{% trans %}TTC{% endtrans %}</sup>
                                            <a href="#" class="add-to-cart" data-toggle="modal" data-placement="top" data-price="1390" data-hours="4" data-target="#modal-bus-double" data-original-title="{% trans %}Qu'est-ce que cela inclus ?{% endtrans %}" tabindex="0">
                                                <span>{% trans %}NOTRE OFFRE À{% endtrans%} 1390 € <sup>{% trans %}TTC{% endtrans %}</sup></span>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="blank_cell"></td>
                                        <td class="addtocart"><a href="{{ path("bus_mini") }}" class="" tabindex="0"><span>{% trans %}Mini Bus{% endtrans %}</span></a></td>
                                        <td class="addtocart"><a href="{{ path("bus_simple") }}" class="" tabindex="0"><span>{% trans %}Simples Bus{% endtrans %}</span></a></td>
                                        <td class="addtocart"><a href="{{ path("bus_double") }}" class="" tabindex="0"><span>{% trans %}Doubles Bus{% endtrans %}</span></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block modals %}
    <div class="modal fade" id="modal-bus-mini" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="X"><span aria-hidden="true">X</span></button>
                <div class="modal_body" style="text-align:justify;">
                    <h3 style="margin-bottom: 20px; margin-top: -15px;">
                        {% trans %}Location d'un Mini Bus <b>Karaoké</b> pour{% endtrans %} <strong><span class="final-time"></span>h</strong> {% trans %}à{% endtrans%} <strong><span class="final-price"></span>€</strong> {% trans %}TTC{% endtrans %}
                    </h3>
                    {% trans %}Ce tarif comprend :{% endtrans %}<br>
                    <ul>
                        <li>{% trans %}La mise à disposition du bus 30 minutes avant l'heure de départ{% endtrans %}</li>
                        <li>{% trans %}Un chauffeur expérimenté pour vous faire découvrir Paris autrement{% endtrans %}</li>
                        <li>{% trans %}Un accueil tapis rouge{% endtrans %}</li>
                        <li>{% trans %}La personnalisation de l'afficheur extérieur{% endtrans %}</li>
                        <li>{% trans %}Les boissons softs à volonté : eau, jus et sodas{% endtrans %}</li>
                        <li>{% trans %}Les consommables : gobelets, serviettes de table, glaçons et flûtes de champagne{% endtrans %}</li>
                        <li>{% trans %}La mise à disposition des écrans pour la diffusion de vos photos et/ou vidéos{% endtrans %}</li>
                        <li>{% trans %}Matériel de Karaoké (tablette, logiciel et 2 micros) à disposition{% endtrans %}</li>
                        <li>{% trans %}Branchement pour votre smartphone et/ou tablette{% endtrans %}</li>
                        <li>{% trans %}Aucun droit de bouchon : vous pouvez apporter vos propres boissons{% endtrans %}</li>
                        <li>{% trans %}Aucun droit de bouche : vous pouvez faire appel à votre propre traiteur{% endtrans %}</li>
                    </ul>
                    <hr />
                    {% trans %}Merci de nous contacter <strong>au{% endtrans%} <a href="tel:+33658311877">06.58.31.18.77</a></strong> {% trans %}ou par <strong>mail à{% endtrans%} <a href="mailto:commercial@busdiscotheque.com">commercial@busdiscotheque.com</a></strong> {% trans %}pour réserver ce bus.{% endtrans %}
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-bus-simple" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="X"><span aria-hidden="true">X</span></button>
                <div class="modal_body" style="text-align:justify;">
                    <h3 style="margin-bottom: 20px; margin-top: -15px;">
                        {% trans %}Location d'un Simple Bus pour{% endtrans%} <strong><span class="final-time"></span>h</strong> {% trans %}à{% endtrans%} <strong><span class="final-price"></span>€</strong> {% trans %}TTC{% endtrans %}
                    </h3>
                    {% trans %}Ce tarif comprend :{% endtrans %}<br />
                    <ul>
                        <li>{% trans %}La mise à disposition du bus 30 minutes avant le départ,{% endtrans %}</li>
                        <li>{% trans %}Un chauffeur experimenté pour vous faire découvrir Paris autrement{% endtrans %}</li>
                        <li>{% trans %}Un Dj à votre écoute pour mixer selon vos envies{% endtrans %}</li>
                        <li>{% trans %}Un accueil Tapis Rouge{% endtrans %}</li>
                        <li>{% trans %}La personnalisation de l'afficheur extérieur pour accueillir vos invités{% endtrans %}</li>
                        <li>{% trans %}Les boissons softs à volonté : Eaux, jus, sodas{% endtrans %}</li>
                        <li>{% trans %}Les consommables : gobelets, serviettes de tables, glaçons et flûtes de champagne{% endtrans%} </li>
                        <li>{% trans %}La mise à disposition des écrans pour la diffusion de vos photos et vidéos{% endtrans %}</li>
                        <li>{% trans %}Aucun droit de bouchon: Vous pouvez apporter vos propres boissons{% endtrans %}</li>
                        <li>{% trans %}Aucun droit de bouche: Vous pouvez faire appel à votre propre traiteur{% endtrans %}</li>
                    </ul>
                    <hr />
                    {% trans %}Merci de nous contacter <strong>au{% endtrans%} <a href="tel:+33658311877">06.58.31.18.77</a></strong> {% trans %}ou par <strong>mail à{% endtrans%} <a href="mailto:commercial@busdiscotheque.com">commercial@busdiscotheque.com</a></strong> {% trans %}pour réserver ce bus.{% endtrans %}
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-bus-double" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="X"><span aria-hidden="true">X</span></button>
                <div class="modal_body" style="text-align:justify;">
                    <h3 style="margin-bottom: 20px; margin-top: -15px;">
                        {% trans %}Location d'un Double Bus pour{% endtrans%} <strong><span class="final-time"></span>h</strong> {% trans %}à{% endtrans%} <strong><span class="final-price"></span>€</strong> {% trans %}TTC{% endtrans %}
                    </h3>
                    {% trans %}Ce tarif comprend :{% endtrans %}<br />
                    <ul>
                        <li>{% trans %}La mise à disposition du bus 30 minutes avant le départ,{% endtrans %}</li>
                        <li>{% trans %}Un chauffeur experimenté pour vous faire découvrir Paris autrement{% endtrans %}</li>
                        <li>{% trans %}Un Dj à votre écoute pour mixer selon vos envies{% endtrans %}</li>
                        <li>{% trans %}Un agent d'accueil pour la tranquillité de votre évènement{% endtrans %}</li>
                        <li>{% trans %}Le service au bar pour profiter pleinement de votre évènement{% endtrans %}</li>
                        <li>{% trans %}Un accueil Tapis Rouge{% endtrans %}</li>
                        <li>{% trans %}La personnalisation de l'afficheur extérieur pour accueillir vos invités{% endtrans %}</li>
                        <li>{% trans %}Les boissons softs à volonté : Eaux, jus, sodas{% endtrans %}</li>
                        <li>{% trans %}Les consommables : gobelets, serviettes de tables, glaçons et flûtes de champagne{% endtrans%} </li>
                        <li>{% trans %}La mise à disposition des écrans pour la diffusion de vos photos et vidéos{% endtrans %}</li>
                        <li>{% trans %}Aucun droit de bouchon: Vous pouvez apporter vos propres boissons{% endtrans %}</li>
                        <li>{% trans %}Aucun droit de bouche: Vous pouvez faire appel à votre propre traiteur{% endtrans %}</li>
                    </ul>
                    <hr/>
                    {% trans %}Merci de nous contacter <strong>au{% endtrans%} <a href="tel:+33658311877">06.58.31.18.77</a></strong> {% trans %}ou par <strong>mail à{% endtrans%} <a href="mailto:commercial@busdiscotheque.com">commercial@busdiscotheque.com</a></strong> {% trans %}pour réserver ce bus.{% endtrans %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}