<footer class="footer_widgets footer_black">
    <div class="container">
        <div class="footer_top">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-8">
                    <div class="widgets_container contact_us">
                        <h3>{% trans %}Contacts{% endtrans %}</h3>
                        <div class="footer_contact">
                            <p>
                                <small>{% trans %}Nous nous efforçons de répondre à vos demandes dans l'heure.{% endtrans %}</small><br>
                                {% trans %}Location de Bus Discothèque de luxe pour tous vos événements{% endtrans %} :<br>
                                <span><span class="fa fa-envelope"></span> <a href="mailto:commercial@busdiscotheque.com">commercial @ busdiscotheque.com</a><br></span>
                                <span><span class="fa fa-phone"></span> <a href="tel:+33658311877">06.58.31.18.77</a><br> </span>
                                <span><span class="fa fa-clock-o"></span> <small>{% trans %}Du lundi au samedi de 9h à 19h{% endtrans %}</small><br> </span>
                                <i class="fa fa-info"></i> <a href="mailto:commercial@busdiscotheque.com">{% trans %}RDV dans notre bureau en Ile-de-France sur demande{% endtrans %}</a>
                                <br><br>
                                <a href="{{ path('reservation') }}" class="button">{% trans %}Demander un Tarif{% endtrans %}</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-5">
                    <div class="widgets_container widget_menu">
                        <h3>{% trans %}Plan du Site{% endtrans %}</h3>
                        <div class="footer_menu">
                            <ul>
                                <li><a href="{{ path('roadvertising') }}">{% trans %}Roadvertising{% endtrans %}</a>
                               </li><li><a href="{{ path('parcours') }}">{% trans %}Parcours{% endtrans %}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-5">
                    <div class="widgets_container widget_menu">
                        <h3>{% trans %}A propos{% endtrans %}</h3>
                        <div class="footer_menu">
                            <ul>
                                <li><a href="#" data-toggle="modal" data-target="#modal-cgv" data-placement="top" data-original-title="{% trans %}Quelques Références{% endtrans %}" tabindex="0">{% trans %}CGV{% endtrans %}</a></li>
                                <li><a href="#" data-toggle="modal" data-target="#modal-carton" data-placement="top" data-original-title="{% trans %}Quelques Références{% endtrans %}" tabindex="0">{% trans %}Cartons d'invitation{% endtrans %}</a></li>
                                <li><a href="#" data-toggle="modal" data-target="#modal-mentions" data-placement="top" data-original-title="{% trans %}Quelques Références{% endtrans %}" tabindex="0">{% trans %}Mentions légales{% endtrans %}</a></li>
                                <li><a href="#" data-toggle="modal" data-target="#modal-refs" data-placement="top" data-original-title="{% trans %}Quelques Références{% endtrans %}" tabindex="0">{% trans %}Quelques Références{% endtrans %}</a></li>
                                <li><a href="#" data-toggle="modal" data-target="#modal-stock" data-placement="top" data-original-title="{% trans %}Quelques Références{% endtrans %}" tabindex="0">{% trans %}Stock Mobile Service{% endtrans %}</a></li>
                                <li><a href="#" data-toggle="modal" data-target="#modal-deluxe" data-placement="top" data-original-title="{% trans %}Quelques Références{% endtrans %}" tabindex="0">{% trans %}Deluxe Mobile Service{% endtrans %}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_bottom">
            <div class="row">
                <div class="col-12">
                    <div class="question_area">
                        <p>
                            <small>
                                <a href="{{ path('bottom1') }}" title="{% trans %}Location de soirée bus à Paris{% endtrans %}">
                                    {% trans %}Location de soiree bus paris{% endtrans %}
                                </a>
                                <a href="{{ path('bottom2') }}" title="{% trans %}Votre soirée bus à bord de nos bus discotheque à Paris garantie.{% endtrans %}">
                                    {% trans %}Soirée Bus à Paris garantie{% endtrans %}
                                </a>
                                <a href="{{ path('bottom3') }}" title="{% trans %}Notre expérience de location de bus boite de nuit{% endtrans %}">
                                    {% trans %}Location de bus boite de nuit{% endtrans %}
                                </a>
                                <a href="{{ path('bottom4') }}" title="{% trans %}Le parc de discobus de busdiscotheque.com{% endtrans %}">
                                    {% trans %}Notre parc de discobus{% endtrans %}
                                </a>
                                <a href="{{ path('bottom5') }}" title="{% trans %}Pourquoi louer un busdiscotheque pour un anniversaire en soirée bus{% endtrans %}">
                                    {% trans %}Pourquoi louer un busdiscotheque{% endtrans %}
                                </a>
                            </small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>